@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the game store please login before accessing the features.</h1>
</div>

<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="572148227045-7tgqrl4v9kl6kl9g4347kg6tci9t6vl1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<div class="text-center">
    <marquee width="900">THIS IS A STUDENT PROJECT.</marquee>
</div>


