@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>This ia student project by Cloud Computing Team 2 Ashavjeet and Ishana</p>
<br /><p>Although the original idea involved a chatbox but it proved to be too complex and we might try to do it in the future courses. But still all the features pitched to the lecturer regarding the chatbox have been implemented in this project such as asking for a game, searching for one, checking if a new one has been uploaded.</p>
<br /><p>The site is linked to sql database and performs various related functions.</p>
<br /><p>Google authentication method is not fully functional but we tried to implement as much as we could.</p>
<br /><p>The check for a new game feature is linked to azure function (http trigger) that helps to get the information whether a new game has been added or not.</p>

